HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Banira ####
logs
data
config
cache

# 构建镜像用字体（本地拷贝，不提交仓库）
docker/fonts/*.ttf
docker/fonts/*.TTF
docker/fonts/*.otf
docker/fonts/*.OTF
docker/fonts/*.ttc
docker/fonts/*.TTC
