<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.vanilla.banira.mapper.IMinecraftRecordDao">

    <resultMap id="resultMap" type="xin.vanilla.banira.domain.MinecraftRecord">
        <id property="id" column="id"/>
        <result property="botId" column="bot_id"/>
        <result property="groupId" column="group_id"/>
        <result property="creatorId" column="creator_id"/>
        <result property="time" column="time"/>
        <result property="name" column="name"/>
        <result property="queryIp" column="query_ip"/>
        <result property="enable" column="enable"/>
    </resultMap>

    <sql id="allColumn">
        t.id, t.bot_id, t.group_id, t.creator_id, t.time, t.name, t.query_ip, t.query_port, t.rcon_ip, t.rcon_port, t.rcon_psw, t.enable
    </sql>

    <sql id="baseColumn">
        t.id, t.bot_id, t.group_id, t.creator_id, t.time, t.name, t.query_ip, t.query_port, t.rcon_ip, t.rcon_port, t.rcon_psw, t.enable
    </sql>

    <sql id="whereSql">
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <include refid="whereSqlInner"/>
        </trim>
    </sql>

    <sql id="whereSqlInner">
        <if test="id_null != null">
            AND t.id IS NULL
        </if>
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="id_array != null">
            AND t.id IN
            <foreach collection="id_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="id_list != null">
            AND t.id IN
            <foreach collection="id_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="id_array_or != null">
            AND
            <foreach collection="id_array_or" item="item" open="(" separator="OR" close=")">
                (t.id = #{item})
            </foreach>
        </if>
        <if test="id_list_or != null">
            AND
            <foreach collection="id_list_or" item="item" open="(" separator="OR" close=")">
                (t.id = #{item})
            </foreach>
        </if>
        <if test="id_lt != null">
            <![CDATA[ AND t.id < #{id_lt} ]]>
        </if>
        <if test="id_lt_eq != null">
            <![CDATA[ AND t.id <= #{id_lt_eq} ]]>
        </if>
        <if test="id_gt != null">
            <![CDATA[ AND t.id > #{id_gt} ]]>
        </if>
        <if test="id_gt_eq != null">
            <![CDATA[ AND t.id >= #{id_gt_eq} ]]>
        </if>

        <if test="botId_null != null">
            AND t.bot_id IS NULL
        </if>
        <if test="botId != null">
            AND t.bot_id = #{botId}
        </if>
        <if test="botId_array != null">
            AND t.bot_id IN
            <foreach collection="botId_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="botId_list != null">
            AND t.bot_id IN
            <foreach collection="botId_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="botId_array_or != null">
            AND
            <foreach collection="botId_array_or" item="item" open="(" separator="OR" close=")">
                (t.bot_id = #{item})
            </foreach>
        </if>
        <if test="botId_list_or != null">
            AND
            <foreach collection="botId_list_or" item="item" open="(" separator="OR" close=")">
                (t.bot_id = #{item})
            </foreach>
        </if>
        <if test="botId_lt != null">
            <![CDATA[ AND t.bot_id < #{botId_lt} ]]>
        </if>
        <if test="botId_lt_eq != null">
            <![CDATA[ AND t.bot_id <= #{botId_lt_eq} ]]>
        </if>
        <if test="botId_gt != null">
            <![CDATA[ AND t.bot_id > #{botId_gt} ]]>
        </if>
        <if test="botId_gt_eq != null">
            <![CDATA[ AND t.bot_id >= #{botId_gt_eq} ]]>
        </if>

        <if test="groupId_null != null">
            AND t.group_id IS NULL
        </if>
        <if test="groupId != null">
            AND t.group_id = #{groupId}
        </if>
        <if test="groupId_array != null">
            AND t.group_id IN
            <foreach collection="groupId_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="groupId_list != null">
            AND t.group_id IN
            <foreach collection="groupId_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="groupId_array_or != null">
            AND
            <foreach collection="groupId_array_or" item="item" open="(" separator="OR" close=")">
                (t.group_id = #{item})
            </foreach>
        </if>
        <if test="groupId_list_or != null">
            AND
            <foreach collection="groupId_list_or" item="item" open="(" separator="OR" close=")">
                (t.group_id = #{item})
            </foreach>
        </if>
        <if test="groupId_lt != null">
            <![CDATA[ AND t.group_id < #{groupId_lt} ]]>
        </if>
        <if test="groupId_lt_eq != null">
            <![CDATA[ AND t.group_id <= #{groupId_lt_eq} ]]>
        </if>
        <if test="groupId_gt != null">
            <![CDATA[ AND t.group_id > #{groupId_gt} ]]>
        </if>
        <if test="groupId_gt_eq != null">
            <![CDATA[ AND t.group_id >= #{groupId_gt_eq} ]]>
        </if>

        <if test="creatorId_null != null">
            AND t.creator_id IS NULL
        </if>
        <if test="creatorId != null">
            AND t.creator_id = #{creatorId}
        </if>
        <if test="creatorId_array != null">
            AND t.creator_id IN
            <foreach collection="creatorId_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="creatorId_list != null">
            AND t.creator_id IN
            <foreach collection="creatorId_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="creatorId_array_or != null">
            AND
            <foreach collection="creatorId_array_or" item="item" open="(" separator="OR" close=")">
                (t.creator_id = #{item})
            </foreach>
        </if>
        <if test="creatorId_list_or != null">
            AND
            <foreach collection="creatorId_list_or" item="item" open="(" separator="OR" close=")">
                (t.creator_id = #{item})
            </foreach>
        </if>
        <if test="creatorId_lt != null">
            <![CDATA[ AND t.creator_id < #{creatorId_lt} ]]>
        </if>
        <if test="creatorId_lt_eq != null">
            <![CDATA[ AND t.creator_id <= #{creatorId_lt_eq} ]]>
        </if>
        <if test="creatorId_gt != null">
            <![CDATA[ AND t.creator_id > #{creatorId_gt} ]]>
        </if>
        <if test="creatorId_gt_eq != null">
            <![CDATA[ AND t.creator_id >= #{creatorId_gt_eq} ]]>
        </if>

        <if test="time_null != null">
            AND t.time IS NULL
        </if>
        <if test="time != null">
            AND t.time = #{time}
        </if>
        <if test="time_array != null">
            AND t.time IN
            <foreach collection="time_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="time_list != null">
            AND t.time IN
            <foreach collection="time_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="time_array_or != null">
            AND
            <foreach collection="time_array_or" item="item" open="(" separator="OR" close=")">
                (t.time = #{item})
            </foreach>
        </if>
        <if test="time_list_or != null">
            AND
            <foreach collection="time_list_or" item="item" open="(" separator="OR" close=")">
                (t.time = #{item})
            </foreach>
        </if>
        <if test="time_lt != null">
            <![CDATA[ AND t.time < #{time_lt} ]]>
        </if>
        <if test="time_lt_eq != null">
            <![CDATA[ AND t.time <= #{time_lt_eq} ]]>
        </if>
        <if test="time_gt != null">
            <![CDATA[ AND t.time > #{time_gt} ]]>
        </if>
        <if test="time_gt_eq != null">
            <![CDATA[ AND t.time >= #{time_gt_eq} ]]>
        </if>

        <if test="name_null != null">
            AND t.name IS NULL
        </if>
        <if test="name != null">
            AND t.name LIKE #{name}
        </if>
        <if test="name_array != null">
            AND t.name IN
            <foreach collection="name_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="name_list != null">
            AND t.name IN
            <foreach collection="name_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="name_array_or != null">
            AND
            <foreach collection="name_array_or" item="item" open="(" separator="OR" close=")">
                (t.name LIKE #{item})
            </foreach>
        </if>
        <if test="name_list_or != null">
            AND
            <foreach collection="name_list_or" item="item" open="(" separator="OR" close=")">
                (t.name LIKE #{item})
            </foreach>
        </if>

        <if test="queryIp_null != null">
            AND t.query_ip IS NULL
        </if>
        <if test="queryIp != null">
            AND t.query_ip LIKE #{queryIp}
        </if>
        <if test="queryIp_array != null">
            AND t.query_ip IN
            <foreach collection="queryIp_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="queryIp_list != null">
            AND t.query_ip IN
            <foreach collection="queryIp_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="queryIp_array_or != null">
            AND
            <foreach collection="queryIp_array_or" item="item" open="(" separator="OR" close=")">
                (t.query_ip LIKE #{item})
            </foreach>
        </if>
        <if test="queryIp_list_or != null">
            AND
            <foreach collection="queryIp_list_or" item="item" open="(" separator="OR" close=")">
                (t.query_ip LIKE #{item})
            </foreach>
        </if>

        <if test="queryPort_null != null">
            AND t.query_port IS NULL
        </if>
        <if test="queryPort != null">
            AND t.query_port = #{queryPort}
        </if>
        <if test="queryPort_array != null">
            AND t.query_port IN
            <foreach collection="queryPort_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="queryPort_list != null">
            AND t.query_port IN
            <foreach collection="queryPort_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="queryPort_array_or != null">
            AND
            <foreach collection="queryPort_array_or" item="item" open="(" separator="OR" close=")">
                (t.query_port = #{item})
            </foreach>
        </if>
        <if test="queryPort_list_or != null">
            AND
            <foreach collection="queryPort_list_or" item="item" open="(" separator="OR" close=")">
                (t.query_port = #{item})
            </foreach>
        </if>
        <if test="queryPort_lt != null">
            <![CDATA[ AND t.query_port < #{queryPort_lt} ]]>
        </if>
        <if test="queryPort_lt_eq != null">
            <![CDATA[ AND t.query_port <= #{queryPort_lt_eq} ]]>
        </if>
        <if test="queryPort_gt != null">
            <![CDATA[ AND t.query_port > #{queryPort_gt} ]]>
        </if>
        <if test="queryPort_gt_eq != null">
            <![CDATA[ AND t.query_port >= #{queryPort_gt_eq} ]]>
        </if>

        <if test="rconIp_null != null">
            AND t.rcon_ip IS NULL
        </if>
        <if test="rconIp != null">
            AND t.rcon_ip LIKE #{rconIp}
        </if>
        <if test="rconIp_array != null">
            AND t.rcon_ip IN
            <foreach collection="rconIp_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="rconIp_list != null">
            AND t.rcon_ip IN
            <foreach collection="rconIp_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="rconIp_array_or != null">
            AND
            <foreach collection="rconIp_array_or" item="item" open="(" separator="OR" close=")">
                (t.rcon_ip LIKE #{item})
            </foreach>
        </if>
        <if test="rconIp_list_or != null">
            AND
            <foreach collection="rconIp_list_or" item="item" open="(" separator="OR" close=")">
                (t.rcon_ip LIKE #{item})
            </foreach>
        </if>

        <if test="rconPort_null != null">
            AND t.rcon_port IS NULL
        </if>
        <if test="rconPort != null">
            AND t.rcon_port = #{rconPort}
        </if>
        <if test="rconPort_array != null">
            AND t.rcon_port IN
            <foreach collection="rconPort_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="rconPort_list != null">
            AND t.rcon_port IN
            <foreach collection="rconPort_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="rconPort_array_or != null">
            AND
            <foreach collection="rconPort_array_or" item="item" open="(" separator="OR" close=")">
                (t.rcon_port = #{item})
            </foreach>
        </if>
        <if test="rconPort_list_or != null">
            AND
            <foreach collection="rconPort_list_or" item="item" open="(" separator="OR" close=")">
                (t.rcon_port = #{item})
            </foreach>
        </if>
        <if test="rconPort_lt != null">
            <![CDATA[ AND t.rcon_port < #{rconPort_lt} ]]>
        </if>
        <if test="rconPort_lt_eq != null">
            <![CDATA[ AND t.rcon_port <= #{rconPort_lt_eq} ]]>
        </if>
        <if test="rconPort_gt != null">
            <![CDATA[ AND t.rcon_port > #{rconPort_gt} ]]>
        </if>
        <if test="rconPort_gt_eq != null">
            <![CDATA[ AND t.rcon_port >= #{rconPort_gt_eq} ]]>
        </if>

        <if test="rconPsw_null != null">
            AND t.rcon_psw IS NULL
        </if>
        <if test="rconPsw != null">
            AND t.rcon_psw LIKE #{rconPsw}
        </if>
        <if test="rconPsw_array != null">
            AND t.rcon_psw IN
            <foreach collection="rconPsw_array" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="rconPsw_list != null">
            AND t.rcon_psw IN
            <foreach collection="rconPsw_list" item="item" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="rconPsw_array_or != null">
            AND
            <foreach collection="rconPsw_array_or" item="item" open="(" separator="OR" close=")">
                (t.rcon_psw LIKE #{item})
            </foreach>
        </if>
        <if test="rconPsw_list_or != null">
            AND
            <foreach collection="rconPsw_list_or" item="item" open="(" separator="OR" close=")">
                (t.rcon_psw LIKE #{item})
            </foreach>
        </if>

        <if test="enable_null != null">
            AND t.enable IS NULL
        </if>
        <if test="enable != null">
            AND t.enable = #{enable}
        </if>

        <if test="_KEY_WORD_ != null">
            AND (
            t.name LIKE #{_KEY_WORD_}
            OR t.query_ip LIKE #{_KEY_WORD_}
            )
        </if>

    </sql>

    <sql id="orderSql">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <if test="_ORDER_ != null">
                <foreach collection="_ORDER_" item="item" open="" separator="," close="">
                    <include refid="orderSqlInner"/>
                </foreach>
            </if>
        </trim>
    </sql>

    <sql id="orderSqlInner">
        <if test="item == 'id_asc'">t.id ASC</if>
        <if test="item == 'id_desc'">t.id DESC</if>
        <if test="item == 'botId_asc'">t.bot_id ASC</if>
        <if test="item == 'botId_desc'">t.bot_id DESC</if>
        <if test="item == 'groupId_asc'">t.group_id ASC</if>
        <if test="item == 'groupId_desc'">t.group_id DESC</if>
        <if test="item == 'creatorId_asc'">t.creator_id ASC</if>
        <if test="item == 'creatorId_desc'">t.creator_id DESC</if>
        <if test="item == 'time_asc'">t.time ASC</if>
        <if test="item == 'time_desc'">t.time DESC</if>
        <if test="item == 'name_asc'">t.name ASC</if>
        <if test="item == 'name_desc'">t.name DESC</if>
        <if test="item == 'queryIp_asc'">t.query_ip ASC</if>
        <if test="item == 'queryIp_desc'">t.query_ip DESC</if>
        <if test="item == 'queryPort_asc'">t.query_port ASC</if>
        <if test="item == 'queryPort_desc'">t.query_port DESC</if>
        <if test="item == 'rconIp_asc'">t.rcon_ip ASC</if>
        <if test="item == 'rconIp_desc'">t.rcon_ip DESC</if>
        <if test="item == 'rconPort_asc'">t.rcon_port ASC</if>
        <if test="item == 'rconPort_desc'">t.rcon_port DESC</if>
        <if test="item == 'rconPsw_asc'">t.rcon_psw ASC</if>
        <if test="item == 'rconPsw_desc'">t.rcon_psw DESC</if>
        <if test="item == 'enable_asc'">t.enable ASC</if>
        <if test="item == 'enable_desc'">t.enable DESC</if>
    </sql>

    <delete id="deleteByParam" parameterType="java.util.Map">
        DELETE FROM minecraft_record t
        <include refid="whereSql"/>
    </delete>

    <select id="selectCountByParam" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM minecraft_record t
        <include refid="whereSql"/>
    </select>

    <select id="selectByParam" parameterType="java.util.Map" resultMap="resultMap">
        SELECT
        <if test="_ALL_FIELDS_">
            <include refid="allColumn"/>
        </if>
        <if test="!_ALL_FIELDS_">
            <include refid="baseColumn"/>
        </if>
        FROM minecraft_record t
        <include refid="whereSql"/>
        <include refid="orderSql"/>
    </select>

</mapper>
